<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text page</title>
</head>
<body>
    <h1>Hello This is a text analyzer page</h1>
    <h3>Please add your text below in teaxt area</h3>
    <form action="/removepunctuation" method="get">
        <textarea name="text" id="" cols="30" rows="10" style="width: 906px; height: 119px;"></textarea>
        <br>
        <input type="checkbox" name="punctuation" id="1">
        <label for="punctuation">Remove Punctuation</label>
        <br>
        <input type="checkbox" name="upper" id="2">
        <label for="upper">UpperCase</label>
        <br>
        <input type="checkbox" name="space" id="3">
        <label for="space">Spaceremover</label>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>